body {
  background: #dfe7ef;
  font-family: "tahoma";
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  min-height: 80vh;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
}

.player {
  background: #183c58;
  width: 100%;
  max-width: 700px;
  min-height: 100px;
  -webkit-box-shadow: 0px 15px 35px 1px rgba(48, 70, 102, 0.32);
          box-shadow: 0px 15px 35px 1px rgba(48, 70, 102, 0.32);
  border-radius: 16px;
  padding: 30px;
}

.player__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 4;
}

.player-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-controls__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 32px;
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.player-controls__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(19, 153, 206, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(19, 153, 206, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
  transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}

@media screen and (min-width: 500px) {
  .player-controls__item:hover {
    color: #a1ddff;
  }
}

.player-controls__item .icon {
  position: relative;
  z-index: 2;
}

.player-controls__item.-xl {
  margin-bottom: 0;
  font-size: 60px;
  -webkit-filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
          filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
  color: #fff;
  width: auto;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.player-controls__item.-xl:before {
  display: none;
}

.player-controls__item.-favorite.active {
  color: #ff344f;
}

[v-cloak] {
  display: none;
}

[v-cloak] > * {
  display: none;
}

.progress {
  width: 100%;
  margin-top: -15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.progress__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress__duration {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.5;
}

.progress__time {
  margin-top: 2px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  opacity: 0.7;
}

.progress__bar {
  height: 6px;
  width: 100%;
  cursor: pointer;
  background-color: #d6e5ff;
  display: inline-block;
  border-radius: 10px;
}

.progress__current {
  height: inherit;
  width: 0%;
  background-color: #ff67e6;
  border-radius: 10px;
}

.album-info {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info {
    padding-right: 30px;
  }
}

.album-info__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.3em;
}

@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info__name {
    font-size: 18px;
    margin-bottom: 9px;
  }
}

.album-info__track {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.7;
  line-height: 1.3em;
  min-height: 52px;
}

@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info__track {
    font-size: 18px;
    min-height: 50px;
  }
}

.scale-out-enter-active {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.scale-out-leave-active {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.scale-out-enter {
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}

.scale-out-leave-to {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}

.scale-in-enter-active {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.scale-in-leave-active {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.scale-in-enter {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}

.scale-in-leave-to {
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}

.container {
  position: relative;
}

.container span {
  width: 5px;
  height: 5px;
  bottom: 0px;
  position: absolute;
  background: #a9eeff;
  -webkit-animation: bodong 0.5s infinite  ease;
}

.container span:first-child {
  left: 0px;
  -webkit-animation-delay: .3s;
}

.container span:nth-child(2) {
  left: 7px;
  -webkit-animation-delay: .4s;
}

.container span:nth-child(3) {
  left: 14px;
  -webkit-animation-delay: .6s;
}

.container span:nth-child(4) {
  left: 21px;
  -webkit-animation-delay: .8s;
}

.container span:nth-child(5) {
  left: 28px;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes bodong {
  0% {
    height: 5px;
    background: bule;
  }
  30% {
    height: 15px;
    background: bule;
  }
  60% {
    height: 20px;
    background: bule;
  }
  80% {
    height: 15px;
    background: bule;
  }
  100% {
    height: 5px;
    background: bule;
  }
}

canvas {
  display: block;
}

#particles-js {
  position: fixed;
  /* fill the entire page */
  width: 100%;
  height: 100%;
  /* remove the space along the edges */
  margin: 0;
  padding: 0;
  /* position it to start at the top of the page */
  top: 0;
  /* put it behind other content */
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */